<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Save Employee</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<h1>Employee Directory</h1>
<h2>Save Employee</h2>
<!--
0.add bootstrap css from online, make xmlns to the html
1.create a form, use ma: method,action,object
2.inside the form create three inputs: and also the fields use placeholder
3.create a submit button
4.create a href to the list to see
-->
<form method="post" th:action="@{/employees/save}" th:object="${employee}">
<input type="text" class="form-control mb-4 col-4" th:field="{firstName}" placeholder="First name">
<input type="text" class="form-control mb-4 col-4" th:field="{lastName}" placeholder="Last name">
<input type="text" class="form-control mb-4 col-4" th:field="{email}" placeholder="Email">
<button type="submit" class="btn btn-info col-2">Save</button>
</form>

<hr>
<a th:href="@{/employees/list}">Back to Employees List</a>
</body>
</html>